form {
  border: 5px solid blue;
}
label {
  font-size: 20px;
  color: brown;
}
input {
  height: 20px;
  width: 400px;
  background-color: violet;
  color: beige;
  font-weight: 900;
}
#id_textarea {
  background-color: skyblue;
}
