<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Teacher</title>
    <link rel="stylesheet" href={% static "css/t.css" %}/>
  </head>
  <body>
    <h1>{{thr}}</h1>
    {% if thr %}
    <table>
      <tr>
        <th>id</th>
        <th>tid</th>
        <th>tname</th>
        <th>temail</th>
      </tr>
      {% for th in thr %}
      <tr>
        <td>{{th.id}}</td>
        <td>{{th.tid}}</td>
        <td>{{th.tname}}</td>
        <td>{{th.temail}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <h1>Empty DB</h1>
    {% endif %}
  </body>
</html>
